@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-Regular.ttf);
}

:root{
    --primary : #1d1d1d;
    --secondary: white;
    --tertiairy: #0d0d0d;
    --bleu: blue;
}



body{
    background: var(--primary);
    font-family: "Inter", Verdana, "Sans Serif Collection";
}

nav{
    display: flex;
    justify-content: space-between;
    color: var(--secondary);
    margin: 20px;
}

nav ul{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

nav li{
    list-style: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left{
    width: 50%;
    padding: 30px;
}

.header-right{
    width: 50%;
    padding: 30px;
}

.header-left h1{
    font-size: 5rem;
    color: var(--secondary);
}

.header-left h3{
    font-size: 1.5rem;
    color: var(--bleu);
}

.header-left p{
    color: var(--secondary);
}

.header-left-container{

}

img{
    width: 100%;
}


.infos{
    background: var(--tertiairy);
    color: var(--secondary);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
}

.infos-left{
    width: 30%;
}

.btn-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 130px;
}

.btn-container button{
    background: var(--bleu);
    color: var(--secondary);
    border-radius: 10px;
    height: 30px;
    width: 200px;
}

.infos-right{
    width: 70%;
}

.img-container{
    display: flex;
    justify-content: space-evenly;
}

.img-container img{
    width: 70px;
}